<h1>New Domain Ban</h1>

<%= render 'form', domain_ban: @domain_ban %>

<%= link_to 'Back', domain_bans_path %>
<div class="register_form">

  <h1> Domain Ban</h1>

  <%= render 'form', domain_ban: @domain_ban %>

  <%= link_to 'Back', domain_bans_path %>
</div>
