<h1>New Email Ban</h1>

<%= render 'form', email_ban: @email_ban %>

<%= link_to 'Back', email_bans_path %>
<div class="register_form">

  <h1> email Ban</h1>

  <%= render 'form', email_ban: @email_ban %>

  <%= link_to 'Back', email_bans_path %>
</div>
