<h1>New IP Ban</h1>

<%= render 'form', ip_ban: @ip_ban %>

<%= link_to 'Back', ip_bans_path %>
<div class="register_form">

  <h1> ip Ban</h1>

  <%= render 'form', ip_ban: @ip_ban %>

  <%= link_to 'Back', ip_bans_path %>
</div>
