<%= form_tag(update_code_of_conduct_path, method: :post)  do %>
  <%= text_area_tag :content, File.read("CODE_OF_CONDUCT.md"), id: "editor" %>
  <div class="btn-group float-right" role="group">
    <%= link_to 'Back', code_of_conduct_path, class: 'btn btn-outline-secondary' %>
    <%= submit_tag 'Save', class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
</script>
