<%= render 'shared/notice' %>

<div class="hero-body hero-modified-body">
  <div class="container has-text-centered">
    <h1 class="title">
      <h1 class="is-size-1"><%= ENV["SLACK_NAME"] %></h1>
      <br />
      <%= image_tag ENV.fetch("SLACK_ICON", ""), style: "width: 132px, height: 132px;" %>
    </h1>
    <h2 class="subtitle">
      <br />
      <%= link_to "Request Access", new_request_path, class: "button is-primary is-large" %>
    </h2>
  </div>
</div>

