/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'bulma';
@import "font-awesome";

flex-container {
  display: flex;
}

flex-row {
  flex-direction: row;
}

flex-column {
  flex-direction: column;
}

flex-item-static {
  flex: 0 1 auto;
}

flex-item-dynamic {
  flex: 1 1 auto;
}

.site-content {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 32px;
}

footer {
  text-align:center;
  position:fixed;
  bottom:0px;
  width:100%;
}

.centered {
  margin-top: 15%;
}

.register_form {
  margin-left: 15%;
  margin-right: 15%;
}

.login-form {
  margin-left: 30%;
  margin-right: 30%;
}

.field_with_errors {
  color: red;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.hero-modified-body {
  padding-top: 0px;
  margin-top: -100px;
}

.container {
  padding-top: 24px;
}

h2 {
  padding-top: 24px;
  padding-bottom: 24px;
}

// Overwrite Bulma's stupid h tag rules
h1 {
  word-break: break-word;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

h2 {
  word-break: break-word;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

h3 {
  word-break: break-word;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

h4 {
  word-break: break-word;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

h5 {
  word-break: break-word;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

h6 {
  word-break: break-word;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

